body {
  background-color: silver;
  font-family: 'Rubik Mono One', sans-serif;
}

main {
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 1200px;
  /*background-color: grey;*/
  position: relative;
}

#title {
  margin: 0 auto;
}

button {
  margin: 0 auto;
  background-color: lightblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Rubik Mono One', sans-serif;
}

.boardOne {
  width: 500px;
  display: inline-block;
}

.boardTwo {
  width: 500px;
  display: inline-block;
}

.board1 {
  width: 45px;
  height: 45px;
  background-color: dodgerblue;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
}
.board2 {
  width: 45px;
  height: 45px;
  background-color: dodgerblue;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
}

.result {
  font-size: 70px;
  color: grey;
  text-align: center;
}

.ship {
  background-color: black;
}

.miss {
  background-color: white;
}

.hit {
  background-color: red;
}
