body {
  background-color: red;
}

main {
 display: inline-block;
}

.boardOne {
  width: 450px;
  display: inline-block;
}

.boardTwo {
  width: 450px;
  display: inline-block;
}

.board1 {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
}
.board2 {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
}
